<div style="text-align: center; margin-top: 10px;">
  <form method="post" action="/entry/create">
  <p>名前：<input type="text" name="post[name]" value="名無しさん" /></p>
  <input type="text" name="post[item_a]" /> と <input type="text" name="post[item_b]" /> の<br />
  <br />
  <input class="button" type="submit" value="違いが分かりません" />
  </form>
</div>


