<div class="content-box">
<img src="/images/hirafoo.png" title="ひらふー" /><br />
<h3>名前</h3>
hirafoo<br />
<h3>メール</h3>
<img src="/images/mail.gif" alt="mail address" title="mail address" /><br />
<h3>自己紹介</h3>
書きたいプログラム書くのが好きです。<br />
<h3>他に作ったもの</h3>
<a href="http://niget.net/" target="_blank" title="にげっと">にげっと</a>
<br />
<a href="http://commetter.net/" target="_blank" title="こめったー">こめったー</a>
</div>
