<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" >
    <head>
        <link rel="shortcut icon" href="/favicon.ico" />
        <title>違いが分かりません</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <!--[if IE]>
        <style type="text/css">
            .content-box
            {
            margin-left:9px;
            }
            #footer_line
            {
            position:relative;
            right:8px;
            }
            #footer_text
            {
            margin-top:10px;
            margin-right:15px; 
            }
        </style>
        <![endif]-->
        <meta name="google-site-verification" content="_j_I89C2K2nQWjG9dkXrYKD7NYllCiQPEmtws54Nt0w" />
    </head>
    <body>
        <div id="container">
            <div id="core_header">
                <!-- google ad -->
                <script type="text/javascript"><!--
                    google_ad_client = "pub-1525936459565040";
                    google_ad_slot = "8010369965";
                    google_ad_width = 468;
                    google_ad_height = 60;
                    //-->
                </script>
                <script type="text/javascript"
                    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
                <!-- google ad -->
                <a href="/" title="違いが分かりません"><img src="/images/logo.gif" /></a>
            </div>
            <div id="core_container">
                <div id="core_container2">
                    <div id="core_left">
                        <div id="navcontainer">
                            MacとWindows、ニートとニーソ、変態と紳士…<br />
                            世の中同じようなものがあり過ぎて、違いが分かりません。<br />
                            「この2つは何が違うのか分からない！」そんな疑問をここにぶちまけたら、誰かが教えてくれます。<br />
                            素晴らしい回答には、上から目線で評価してあげてください。<br />
                            <br />
                            <ul>
                                <li><a href="/" title="新着順">新着順</a></li>
                                <li><a href="/rate" title="評価の高い回答順">評価ランキング</a></li>
                                <li><a href="/answer" title="回答が新しい順">回答順</a></li>
                                <li><a href="/author" title="中の人">作者</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="core_right">
                        <%= yield %>
                   </div>
                </div>
                <div id="footer2">
                    <hr>
                    <div id="footer_line">created by <a href="http://hirafoo.net/" title="hirafoo" target="_blank">hirafoo</a></div>
                </div>
            </div>
        </div>
        <div id="footer"></div>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-3287586-16");
                pageTracker._trackPageview();
                } catch(err) {}</script>
        </body>
    </html>
