html, body {
    height: 100%;
    padding:0px;
    margin:0px;
}
body {
    background: url('/images/tile.jpg');
    font-family: "Arial";
    font-size: 15px;
    color:#3B495A;
    padding:0px;
    margin:0px;
}
a, a:link {
    text-decoration: underline;
    color:#8C8C8C;
}
a:hover {
    text-decoration: none;
    color:#8C8C8C;
}
a:active {
    text-decoration: underline;
    color:#8C8C8C;
}

#container {
    width: 756px;
    height: auto !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom:0px;
}

#core_header {
    width: 756px;;
    height: 175px;
    /* background: #FFFFFF url('/images/logo.gif'); */
    background-color: #FFF;
    margin:0px;
    padding:0px;
    text-align: center;
}

#header_text
{
    position:relative;
    right:15px;
    top:15px;
    font-size:14pt;
    color:#8C8C8C;
    font-family:"Lucida Handwriting","Tahoma";
    float:right;
}

img
{
    /*margin:5px;*/
    border: 0px;
}
#core_container2
{
    width: 756px;
    height:auto;
    position: relative;
    margin:0px;
    padding:0px;
    background-color: #FFF;
}

#core_left {
    margin: 0;
    float: none;
    width: 756px;
    background-color: #FFF;
}
#core_right {
    margin: 0;
    float: right;
    width: 756px;
    min-height:250px;
    color:#000;
    background:#FFF;
}

.content-box
{
    height:auto !important;
    text-align:center;
    /*width: 100%;*/
    font-family: "arial";
    font-size: 20px;
    color:#000;
    padding:10px 0px;
    /*border-top:1px solid #AAA;*/
}
.content-box hr
{
    width: 80%;
}
.tumb
{
    float: left;
    margin-right:5px;
    padding:0px;
}

.pagination
{
    /*border-top: 1px solid #AAA;*/
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
.pagination a {
    margin-top: 1px;
}
.pagination hr {
    width: 70%;
}

#footer {
    /*visibility:hidden*/
}

#footer_line
{
    font-size: 18px;
    /*border-bottom: 1px ridge #000;*/
    margin:0px;
    padding:0px;
    /*width:720px;*/
    height:1px;
}

#footer_text
{
    color:#BCBCBC;
    font-size:10px;
    float:right;
    margin-right:30px;
    margin-top:15px;
}

#footer2
{
    text-align: center;
    /*width: 742px;*/
    padding-top:10px;
    /*padding-left:14px;*/
    text-align: center;
    height:50px;
    background:#FFF;
    clear:both;
}
#footer2 hr
{
    width: 95%;
}

h2
{
    font-family: "Verdana", Lucida Handwriting, sans-serif;
    font-size:18px;
    height:25px;
}
h3
{
    /*
    font-family: "Verdana", Lucida Handwriting, sans-serif;
    font-size:12px;
    height:15px;
    margin:0px;
    padding:0px;
    border-bottom: 1px ridge #000;
    margin-bottom:8px;
    */
    color:#8C8C8C;
}
h3:first-letter {
    /*font-size: 12px;
    font-family: Verdana;*/
    color: #000;
}
h4
{
    font-family: "Verdana", Lucida Handwriting, sans-serif;
    font-size:12px;
}

#navcontainer {
    font-size: 15px;
    text-align: center;
}

#navcontainer li {
    padding: 0px;
    font-size: 15px;
    margin:0px;
    color:#FFF;
    display:inline;
    position:relative;
    height:25px;
    padding:0px 30px;

}

#navcontainer ul {
    margin:0;
    width: 756px;
    list-style-type: none;
    border-top: 1px solid #8C8C8C;
    border-bottom: 1px solid #8C8C8C;
    position:relative;
    padding:10px 0px;
}
#navcontainer a, #navcontainer a:visited {
    display:inline;
    color:#8C8C8C;
    text-decoration: none;
    font-family:Verdana;
    font-size:15px;
    font-weight:bold;
    margin:0px;
    height:25px;
}
#navcontainer a:hover {
    margin:0px;
    color:#8C8C8C;
    text-decoration: underline;
}

.vh_center {
    text-align: center;
    height: 125px;
    line-height: 125px;
}

.button {
    color:#666; /* 文字の色 */
    background-color:#EEE; /* 背景色 */
    border:2px double #AAA; /* 線の種類と色 */
}

.question {
background-color:#FFFFCC;
padding:10px 0px;
width:100%;
}

.answer_title {
  background-color:#EEE; /* 背景色 */
  text-align:center;
  background-color:#;
}
.answer_box {
  padding:10px 0px;
  text-align:center;
  width: 100%;
  /*background-color:#FFFFCC;*/
  /*border-top:1px solid #AAA; /* 線の種類と色 */
}
.answer_box hr {
    width: 80%;
}

